.app-wrapper{
  display: grid;
  grid-template-areas: 
  "h h"
  "s c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}
.app-wrapper-content{
  
    grid-area: c;
    min-height: 100vh;
    background-color: rgb(249, 251, 152);

}